.container {
  display: flex;
  flex-direction: column;
}

.container__title {
  margin-bottom: 0.5rem;
  color: var(--secondary-dark-grey);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container__description {
  min-height: 11px;
  width: 571px;
  margin-bottom: 2rem;
  color: var(--secondary-dark-grey, #484848);
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
