.search-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #111;
  border-radius: 5px;
  height: 55%;
  gap: 1em;
  margin-left: 5em;
  padding: 3em 1em;
  padding-top: 1em;
}
.search-form p {
  color: white;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 700;
  text-align: center;
}
.search-form div {
  display: flex;
}

.search-form label {
  flex: 1;
  color: white;
  margin-right: 1em;
}
.search-form input {
  flex: 3;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  box-shadow: #555 0px 4px 1px;
}
.search-form button {
  color: white;
  background-color: #222;
  border: 1px solid #333;
  padding: 0.5em 1em;
  border-radius: 10px;
}
