.header {
  border: 1px solid red;
  max-width: 1366px;
  margin: 0 auto 0 auto;
  padding: 80px;
  aspect-ratio: 1.82 / 1;
  display: flex;
}

.header__text {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
  text-align: center;
}
