.header {
  max-width: 1366px;
  margin: 0 auto 0 auto;
  aspect-ratio: 1366 / 750;
  display: flex;
  flex-direction: column;
}

.header__text {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin: auto; */
  margin-top: 243px;
  text-align: center;
}

.header__link {
  margin: 14px 23px 0px 23px;

  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media screen and (max-width: 992px) {
  .header__text {
    font-size: 2.5rem;
    margin-top: 10rem;
  }
}
